<section th:fragment="goal" th:attr="id=${goal.id}" class="js-goal">
    <span class="progress">
        <span class="indicator"></span>
        <span class="reason"></span>
    </span>
    <span class="description">
        <span th:text="${goal.description}"/>
        <span class="longDescription" th:text="${goal.longDescription}"/>
    </span>
    <span th:if="${goal.children}" class="expand-arrow" onclick="toggleGoalChildren($(this).parent())"/>
    <ul th:if="${goal.children}">
        <li th:each="goal : ${goal.children}">
            <section th:replace="this :: goal" th:with="goal=${goal}"/>
        </li>
    </ul>
</section>