/* goal tree view derived from https://www.w3schools.com/howto/howto_js_treeview.asp */
.js-goal .description {
    position: relative;
    display: inline-block;
}

.js-goal .description .longDescription {
    visibility: hidden;
    width: 120px;
    background-color: gray;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.js-goal .description:hover .longDescription {
    visibility: visible;
}
.js-goal ul {
    list-style-type: none;
    display: none;
}
.js-goal .expand-arrow {
    cursor: pointer;
    user-select: none;
}
.js-goal .expand-arrow::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}
.js-goal .open-arrow::before {
    transform: rotate(90deg);
}
.js-goal .progress {
    background-color: red;
}
.js-goal .progress[data-progress="100%"] {
    background-color: green;
}
.js-goal .progress .reason {
    visibility: hidden;
    width: 120px;
    background-color: gray;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.js-goal .progress:hover .reason {
    visibility: visible;
}

.codepad {
    display:inline-block;
    position:relative;
}
.js-sendcode {
    position:absolute;
    bottom:10px;
    right:10px;
}
.codepad textarea {
    display: block;
}