<html>
<head>
    <meta charset="utf-8"/>
    <title>jshell test</title>

    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/main.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/js/jshell-terminal.js"></script>
</head>
<body>
<div class="js-exercise" id="playground">
<h1>jshell test</h1>
<div>
    <span>
        History
        <textarea class="js-history" rows="10" cols="40" readonly></textarea>
    </span>
    <span>
        Variables
        <textarea class="js-variables" rows="10" cols="40" readonly></textarea>
    </span>
</div>
<br>Last Error:
<input type="text" class="js-message" size="80" disabled/>
<br/>
Method definitions <select id="methods"></select> <input id="loadmethod" type="submit" value="load"/>
<div class="js-codepad"><br>Code:
<textarea rows="10" cols="40" clearonsend></textarea>
<input type="submit" class="js-sendcode" value="execute"/>
</div>
<hr/>
<br>Input:
<input type="text" class="js-stdin" size="80"/>
<br>
Output:
<textarea class="js-stdout" rows="10" cols="40" readonly></textarea>

    <ol class="js-goals">
        <li th:each="goal : ${goals}">
            <span class="description" th:text="${goal}"></span>
            <span class="progress"></span>
            <span class="reason"></span>
        </li>
    </ol>
</div>
</body>
</html>