<html>
<head>
    <meta charset="utf-8"/>
    <title>jshell test</title>

    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/main.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/js/exercise.js"></script>
</head>
<body>
<div class="js-exercise" th:id="${exerciseId}" autoload/>
</body>
</html>