<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/main.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script>
        var stompClient = null;

        function connect() {
            stompClient = Stomp.client('/codecafe-websocket');
            stompClient.connect({}, function (frame) {
                stompClient.subscribe('/topic/greetings', function (response) {
                    showGreeting(JSON.parse(response.body).content);
                });
                alert('vassup');
            });

            stompClient.send("/app/hello", {}, JSON.stringify({'name': 'hi'}));
        }
    </script>
</head>
<body>
test
</body>
</html>