<h1 th:text="${exerciseId}"/>
<hr/>
<h2>Problem Description</h2>
<span th:utext="${description}"/>
<hr/>
<h2>Instructions</h2>
<p>Develop your method in the box below and click 'execute' when you're ready
to test it. Check the goals below for important details on the
required name, parameter types, and return type of your method, as well as
several example inputs with their expected outputs. Mouse over the descriptions
and after you execute your code, mouse over the progress percentage for
an explanation of why your code received that score.</p>
<hr/>
<section th:replace="components/codepad :: codepad"/>
<section th:replace="components/messagebox :: messagebox"/>
<section th:replace="components/goal :: goal" th:with="goal=${goal}"/>
<section th:replace="components/history :: history"/>
<hr>
<p><i>Warning:</i> Only use the button below if code cafe has been unresponsive
for a few minutes. Do not press it repeatedly!
<input type="button" class="js-sendreset" value="reset"/>
</p>